#wheel{
    color: #c85d37;
    animation: roll 3s ease-in-out 0.2s;
}

#loader-text{
    animation: fade 1s ease-in-out 5s;
    opacity: 1;
    font-family: var(--body-font);
}

@keyframes roll {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}